*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.4;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
}
